.leftWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    background: red;
    height: 100%;
    width: 190px;
}

/* Tamaños y espacios por default de H1 a H5 */

h1,h2,h3,h4,h5{
    color: #000000;
}
h1{
    font-size: 2.6em;
    line-height: 2.45em;
}
h2{
    font-size: 2.1em;
    line-height: 1.9em;
}
h3{
    font-size: 1.8em;
    line-height: 1.65em;
}
h4{
    font-size: 1.65em;
    line-height: 1.4em;
}
h5{
    font-size: 1.4em;
    line-height: 1.25em;
}